.navigation,.navigation.nav-bg {
    padding: 0 130px;
    margin-top: 30px;
    background-color: transparent;
    transition: .5s ease 0s;
}

.navigation.nav-bg {
    margin-top: 0;
    background-color: #36197f;
    box-shadow: 0 0 60px -30px #fff;
}

.navigation .sign {
    max-width: 150px;
    filter: invert(1);
}

@media(max-width:768px) {
    header.navigation.fixed-top {
        padding: 0;
    }
    .navigation .navbar-nav {
        background-color: #36197f;
        color:#000;
    }
}